<%- include('../partials/userheader') %>
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/profile" rel="nofollow">My Profile</a> 
                <span></span> orders
                <span></span> Order Detail

            </div>
        </div>
    </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-14 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link " href="/profile"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" href="/myOrders" ><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link"  href="/addressview" ><i class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/editprofile" ><i class="fi-rs-user mr-10"></i>Account details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/wallet" ><i class="fi-rs-user mr-10"></i>Wallet details</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                    <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                        <section class="content-main">
                                            <div class="content-header">
                                                <div>
                                                    <h2 class="content-title card-title">Order detail</h2>
                                                    <p>Details for Tracking ID: <%= order.trackingId %></p>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <header class="card-header">
                                                    <div class="row align-items-center">
                                                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                                                            <span>
                                                                <i class="material-icons md-calendar_today"></i> <b><%= order.orderDate %></b>
                                                            </span> <br>
                                                            <small class="text-muted">Tracking ID: <%= order.trackingId %></small>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="align-items-end " ><a href="/download-invoice/<%= order._id %>" class="btn btn-small d-block" >Download Invoice</a></div> -->
                                                </header>
                                                <div class="card-body">
                                                    <div class="row mb-50 mt-20 order-info-wrap">
                                                        <div class="col-md-4">
                                                            <article class="icontext align-items-start">
                                                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                                                    <i class="text-primary material-icons md-person"></i>
                                                                </span>
                                                                <div class="text">
                                                                    <h6 class="mb-1">Customer</h6>
                                                                    <p class="mb-1">
                                                                        <%= users.billingdetails.name %> <br><%= users.billingdetails.email %> <br>+91 <%= users.billingdetails.phone %>
                                                                    </p>
                                                                </div>
                                                            </article>
                                                        </div> <!-- col// -->
                                                        <div class="col-md-4">
                                                            <article class="icontext align-items-start">
                                                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                                                    <i class="text-primary material-icons md-local_shipping"></i>
                                                                </span>
                                                                <div class="text">
                                                                    <h6 class="mb-1">Order info</h6>
                                                                    <p class="mb-1">
                                                                        Shipping: Fargo express <br> Pay Method: <%= order.paymentMethod %> <br> Pay Status:  <%= order.paymentStatus %>
                                                                    </p>
                                                                </div>
                                                            </article>
                                                        </div> <!-- col// -->
                                                        <div class="col-md-4">
                                                            <article class="icontext align-items-start">
                                                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                                                    <i class="text-primary material-icons md-place"></i>
                                                                </span>
                                                                <div class="text">
                                                                    <h6 class="mb-1">Deliver to</h6>
                                                                    <p class="mb-1">
                                                                        City: <%= users.billingdetails.city %>  <br><%= users.billingdetails.buildingname %>,<br>Country: <%= users.billingdetails.country %>, <br>Postal: <%= order.trackingId %>
                                                                    </p>
                                                                </div>
                                                            </article>
                                                        </div> <!-- col// -->
                                                    </div> <!-- row // -->
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th width="40%">Product</th>
                                                                            <th width="20%">Unit Price</th>
                                                                            <th width="12%">Quantity</th>
                                                                            <th width="20%">Status</th>
                                                                            <th width="20%">Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <% order.items.forEach((row) => { %>
                                                                        <tr>
                                                                            <td>
                                                                                <a class="itemside" href="#">
                                                                                    <div class="info"> <%= row.product.productName %> </div>
                                                                                </a>
                                                                                
                                                                            </td>
                                                                            <td> <%= row.price %> </td>
                                                                            <td> <%= row.quantity %> </td>
                                                                            <td> <%= row.status %> </td>
                                                                            <% if (row.status === 'Delivered') { %>
                                                                                <td><a href="#" class="btn-small d-block" onclick="returnOrderIndividually('<%= order._id %>','<%= row.product._id %>')" style="color: red;">Return Order</a></td>
                                                                                
                                                                                <td><span style="color: red;">N/A</span></td>
                                                                            <% } else if (row.status === 'Returned' || row.status === 'Cancelled') { %>
                                                                                <td><a href="#" class="btn-small d-block" onclick="returnOrderIndividually('<%= order._id %>','<%= row.product._id %>')" style="color: red;"></a></td>
                                                                                <!-- <td><span style="color: red;">N/A</span></td> -->
                                                                             <%} else  { %>
                                                                                <td><a href="#" class="btn-small d-block" onclick="cancelOrderIndividually('<%= order._id %>','<%= row.product._id %>')" style="color: red;">Cancel Order</a></td>
                                                                            <% } %>
                                                                        </tr>
                                                                        <% }) %>
                                                                      </tbody>
                                                                </table> 
                                                               
                                                                <% if (order.items.some(item => item.status === 'Delivered')) { %>
                                                                    <!-- <p><a class="link-offset-3" href="#">Download Invoice </a></p> -->
                                                                    <div class="align-items-end " ><a href="/download-invoice/<%= order._id %>" class="btn btn-small d-block" >Download Invoice</a></div>
                                                                <% } %>
                                                            </div> <!-- table-responsive// -->
                                                        </div> <!-- col// -->
                                                        <div class="col-lg-1"></div>
                                                        <div class="col-lg-4">
                                                            <div class="box shadow-sm bg-light">
                                                                <h6 class="mb-15">Payment info</h6>
                                                                <p>
                                                                    <%= order.paymentMethod %> 
                                                                    <br>
                                                                </p>
                                                            </div>
                                                            <article style="width: 189px; margin-top: 19%;">
                                                                <dl class="dlist">
                                                                    <dt>Subtotal:</dt>
                                                                    <dd style="margin-left: 54%;">Rs. <%=  order.totalPrice %></dd>
                                                                </dl>
                                                                <dl class="dlist">
                                                                    <dt>Discount :</dt>
                                                                    <dd style="margin-left: 54%;" > Rs. <%= order.discountAmount %> </dd>
                                                                </dl>
                                                                <dl class="dlist">
                                                                    <dt>Wallet Used :</dt>
                                                                    <dd style="margin-left: 54%;" > Rs. <%= order.walletUsed %> </dd>
                                                                </dl>
                                                                <dl class="dlist">
                                                                    <dt>Shipping cost:</dt>
                                                                    <dd style="margin-left: 54%;">Free Shipping</dd>
                                                                </dl>
                                                                <dl class="dlist">
                                                                    <dt>Grand total:</dt>
                                                                    <dd> <b class="h5" style="margin-left: 36%;">Rs. <%= order.totalPrice-order.discountAmount-order.walletUsed %></b> </dd>
                                                                </dl>
                                                            </article>
                                                        </div>
                                                    </div>
                                                </div> 
                                            </div> 
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</main>



<!-- cancel order -->
<script>
    async function cancelOrderIndividually(orderId, productId) {
        console.log(`Canceling order for Order ID: ${orderId}, Product ID: ${productId}`);
        try {
            const { isConfirmed } = await Swal.fire({
                title: "Are you sure?",
                text: "Cancel the order!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, cancel it!"
            });

            if (isConfirmed) {
                const response = await fetch('/cancelOrder', {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ orderId, productId })
                });

                if (!response.ok) {
                    throw new Error('Failed to cancel order');
                }

                const data = await response.json();

                Swal.fire({
                    position: "top-end",
                    icon: "success",
                    title: "Item Cancelled Successfully",
                    showConfirmButton: false,
                    timer: 1500
                });

                setTimeout(() => {
                    window.location.reload();
                }, 2000);
            }
        } catch (error) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: error.message || 'Something went wrong',
            });
        }
    }
</script>

<script>
    async function returnOrderIndividually(orderId, productId) {
        try {


            const { value: reason } = await Swal.fire({
title: "Reason for cancellation",
input: "select",
inputOptions: {
    Defect: "Product is not good",
    wrongProduct: "Not the product ordered",
    wrongColor: "Wrong product color",
    others: "Other"
},
inputPlaceholder: "Select",
showCancelButton: true,
inputValidator: (value) => {
    return new Promise((resolve) => {
        if (value !== "Select") {
            resolve();
        } else {
            resolve("Choose a reason for the return :)");
        }
    });
}
});

if (reason) {
Swal.fire(`You selected: ${reason}`);
}

            const { isConfirmed } = await Swal.fire({
                title: "Are you sure?",
                text: "Return the order!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, return it!"
            });
        // try {
            if (isConfirmed) {
            const response = await fetch('/returnOrder', {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ orderId, productId })
            });

            if (!response.ok) {
                throw new Error('Failed to return order');
            }

            const data = await response.json();

            Swal.fire({
                position: "top-end",
                icon: "success",
                title: "Item Returned Successfully",
                showConfirmButton: false,
                timer: 1500
                });

            setTimeout(() => {
                window.location.reload();
            }, 2000);
            

        }
        } catch (error) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: error.message || 'Something went wrong',
            });
        }
    }
</script>   
<%- include('../partials/userfooter') %>