<%- include("../partials/userheader.ejs") %>
<style>
    #hideOutOfStockCheckbox {
        width: 20px; 
        height: 20px; 
    }
    
    
    .product-cart-wrap {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    justify-content: space-between;
    border: 1px solid #e0e0e0;
    padding: 10px;
    margin-bottom: 15px;
}

.product-img-action-wrap {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.product-img-zoom img {
    max-height: 150px;
    width: auto;
    margin: 0 auto;
    display: block;
}

.product-content-wrap {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between; 
    margin-bottom: 5px;
}

.discount-badge {
    display: inline-block;
    padding: 5px 10px;
    background-color: #088178;
    color: #fff; 
    font-weight: bold;
    border-radius: 5px; 
    font-size: 14px; 
    text-align: center;
}
.tab-content .tab-pane:not(.show) {
    display: none;
    
}

.product-grid-4 {
    gap: 20px; 
}
.product-price {
    margin-bottom: 10px; 
}

.product-action-1 {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    width: 25px;
    height: 10px; 
}
.product-action-1 .action-btn {
    font-size: 1rem;
    padding: 0px;
   
}
.product-price {
    display: flex;
    align-items: baseline;
}

.product-price-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.price {
    margin-bottom: 5px;
}

.old-price {
    margin-top: 5px;
}
.nav-tabs .nav-link.active {
    color: #333;
    background-color: #08817899;
}
</style>
<script>
    document.querySelectorAll('.category-link').forEach(link => {
        link.addEventListener('click', function(e) {
            e.preventDefault();
            const categoryId = this.dataset.cat;
            const search = document.getElementById('searchInput').value;
            
            
            window.location.href = `/?cat=${categoryId}&search=${search}`;
        });
    });

    document.getElementById('searchForm').addEventListener('submit', function(e) {
        e.preventDefault();
        const search = document.getElementById('searchInput').value;
        const categoryId = new URLSearchParams(window.location.search).get('cat');
        
       
        window.location.href = `/?cat=${categoryId || 'ALL'}&search=${search}`;
    });

    function toggleOutOfStock() {
        var hideOutOfStock = document.getElementById("hideOutOfStockCheckbox").checked;
        // hideOutOfStock = true
        console.log(hideOutOfStock)
        window.location.href = "?hideOutOfStock=" + hideOutOfStock;
}
</script>
<script>
async function addToWishlist(productId,user) {

if (user) {
    try {
        const response = await axios.post(`/addToWishlist/${productId}`);
      
        if (response.data.success) {
            Swal.fire({
                title: 'Added to Wishlist',
                text: response.data.message,
                icon: 'success',
                confirmButtonColor: '#28a745'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/wishlist';
                }
            });
        }}
            catch (error) {
        console.error(error);
         if (error.response && error.response.status === 409) {
            Swal.fire({
                title: 'Already in Wishlist',
                text: 'The product is already in your wishlist.',
                icon: 'warning',
                confirmButtonColor: '#ffc107'
            });
        } else {

            Swal.fire({
                title: 'Error Adding Product to Wishlist',
                text: 'There was an error adding the product to your wishlist.',
                icon: 'error',
                confirmButtonColor: '#dc3545'
            });
        }
    }}
    else  {
            Swal.fire({
                title: 'Please Log In',
                text: 'Please log in to add items to your wishlist.',
                icon: 'warning',
                confirmButtonColor: '#ffc107'
            }).then(() => {
                window.location.href = '/login'; 
            });

         }
}
</script>
<script>
    function updateSort(sortType) {
  const urlParams = new URLSearchParams(window.location.search);
  urlParams.set('sort', sortType); 
  window.location.search = urlParams.toString(); 
}
document.querySelector("#sortPriceLowToHigh").onclick = () => updateSort("price_low_to_high");
document.querySelector("#sortPriceHighToLow").onclick = () => updateSort("price_high_to_low");
document.querySelector("#sortNameaToz").onclick = () => updateSort("name_aA_to_zZ");
document.querySelector("#sortNamezToa").onclick = () => updateSort("name_zZ_to_aA");
</script>
<script>

document.addEventListener('DOMContentLoaded', function() {
    const tabs = document.querySelectorAll('.nav-tabs button');
    const tabContentContainer = document.querySelector('.tab-content');

    if (tabContentContainer) {
        tabs.forEach(tab => {
            tab.addEventListener('click', function(event) {
                event.preventDefault();

                
                tabs.forEach(t => t.classList.remove('active'));
                this.classList.add('active');

                
                const tabContents = tabContentContainer.querySelectorAll('.tab-pane');
                tabContents.forEach(content => content.classList.remove('show', 'active'));

                
                const targetContentId = this.getAttribute('data-bs-target');
                const targetContent = tabContentContainer.querySelector(targetContentId);

                if (targetContent) {
                    targetContent.classList.add('show', 'active');
                } else {
                    console.error(`Element with ID ${targetContentId} not found.`);
                }
            });
        });
    } else {
        console.error(`.tab-content container not found.`);
    }
});


</script>
<main class="main">
       
        <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                            <ul class="categories">
                                <%  if(catData) { %>

                                    <% catData.forEach( (row,index) => { %>
                                        <li><a href="/?cat=<%=row._id %>" > <%= row.name %></a></li>   
                                        <% })%> 

                                        <% } else { %>
    
                                    No data Found
                                    <% } %>

                            </ul>
                        </div>
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Sort by</h5>
                            <ul class="categories">
                                <% const currentParams = new URLSearchParams(query); %>
                            
                                <li><a href="?<%= currentParams.toString() %>&sort=price_low_to_high">Price: Low to High</a></li>
                                <li><a href="?<%= currentParams.toString() %>&sort=price_high_to_low">Price: High to Low</a></li>
                                <li><a href="?<%= currentParams.toString() %>&sort=name_aA_to_zZ">Name: aA_to_zZ</a></li>
                                <li><a href="?<%= currentParams.toString() %>&sort=name_zZ_to_aA">Name: zZ_to_aA</a></li>
                                <!-- <li><a href="">Name: High to Low</a></li> -->
                            </ul>

                    
                            <div style="display: flex; align-items: center;">
                                <input type="checkbox" id="hideOutOfStockCheckbox" name="hideOutOfStockCheckbox" 
                                       onchange="toggleOutOfStock()" 
                                       <%= hideOutOfStock === "true" ? "checked" : "" %> />
                                <label for="hideOutOfStockCheckbox" style="margin: 0;"> Hide Out Of Stock</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9">
                        <div class="tab-header">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Featured</button>
                                </li>
                            
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two" type="button" role="tab" aria-controls="tab-two" aria-selected="false">New added</button>
                                </li>
                             
                            </ul>
                            
                        </div>
                        <!--End nav-tabs-->
                        <div class="tab-content wow fadeIn animated" id="myTabContent">
                            <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                                
                                <div class="row product-grid-4">
                                
                                <% products.forEach((row, index)=>{ %>
                                    <div class="col-lg-3 col-md-4 col-12 col-sm-6 <%= row.stock === 0 ? 'fade-in-out-of-stock' : '' %>">
                                        <div class="product-cart-wrap">
                                            <div class="product-img-action-wrap"> 
                                                <div class="product-img product-img-zoom">
                                                    <a href="productdetails/<%= row._id %>" >
                                                        <img class="default-img" src="/product_images/<%= row.image[0] %>" alt="">
                                                        <img class="hover-img" src="/product_images/<%= row.image[1] %>" alt="">
                                                    </a>
                                                </div>
                                                <% if(row.stock > 0) { %>
                                                <div class="product-action-1">
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWishlist('<%= row._id %>','<%= user ? user._id : null %>')" ><i class="fi-rs-heart"></i></a>
                                                </div>
                                                <% } else { %>
                                                    <div class="product-action-1">
                                                        <h4 class="in-stock text-danger ml-5 bold-text"> Out of Stock</h4>
    
                                                    </div>
                                                <% } %>
                                            </div>
                                            <div class="product-content-wrap">
                                               
                                                <h2>
                                                    <a href="/productdetails/<%= row._id %>" >
                                                        <%= row.productName %>
                                                    </a>
                                                </h2>
                                                
                                                <div class="discount-badge" title="Discount">
                                                    <span><%= parseInt(Math.floor(((row.oldPrice - row.price) / row.oldPrice) * 100)) %>%</span>
                                                </div>
                                                <div class="product-price">
                                                    <div class="product-price-container">
                                                    <span class="price">Rs.<%= row.price %> </span>
                                                    <span class="old-price">Rs.<%= row.oldPrice %></span>
                                                </div>
                                            </div>
                                        </div>      
                                    </div>
                                </div>
                                <% }) %>
                            </div>
                            </div>

                            <div class="tab-pane fade" id="tab-two" role="tabpanel" aria-labelledby="tab-two">
                                    <div class="row product-grid-4">
                                        <% newproducts.forEach((row, index) => { %>
                                            <% if (!row.isBlocked && row.category.islisted) { %>
                                                <div class="col-lg-3 col-md-3 col-12 col-sm-6">
                                                <div class="product-cart-wrap mb-30">
                                                    <div class="product-img-action-wrap">
                                                        <div class="product-img product-img-zoom">
                                                            <a href="productdetails/<%= row._id %>">
                                                                <img class="default-img" src="/product_images/<%= row.image[0] %>" alt="<%= row.productName %>">
                                                                <img class="hover-img" src="/product_images/<%= row.image[1] %>" alt="">
                                                            </a>
                                                        </div>
                                                       
                                                        <div class="product-badges product-badges-position product-badges-mrg">
                                                            <span class="hot">(<%= row.stock %> Left)</span>
                                                        </div>
                                                    </div>
                                                    <div class="product-content-wrap">
                                                        <div class="product-category">
                                                            <a href="productdetails/<%= row._id %>"><%= row.category.name %></a>
                                                        </div>
                                                        <h2><a href="productdetails/<%= row._id %>"><%= row.productName %></a></h2>
                                                        <div class="discount-badge" title="Discount">
                                                            <span><%= parseInt(Math.floor(((row.oldPrice - row.price) / row.oldPrice) * 100)) %>%</span>
                                                        </div>
                                                        <div class="product-price">
                                                            <span>₹<%= row.price %></span>
                                                            <span class="old-price"><%= row.oldPrice ? `₹${row.oldPrice}` : '' %></span>
                                                            
                                                        </div>
                                                         <!-- <div class="product-action-1">
                                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                        </div> -->
                                                        <div class="product-action-1 show">
                                                            <button onclick="addToWishlist('<%= row._id %>')" class="action-btn hover-up"><i class="fi-rs-heart"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                            <% } %>
                                        <% }); %>
                                    </div>  
                                </div>
                               <!--End product-grid-4-->
                            </div>
                            <!--En tab one (Featured)-->
    
                        </div>
                        <!--End tab-content-->
                        <div class="pagination-area mt-15 mb-50">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <% if (currentPage > 1) { %>
                                        <li class="page-item">
                                            <a class="page-link pagination-link" href="?page=<%= prevPage %>" data-page="<%= prevPage %>">
                                                <i class="material-icons md-chevron_left"></i>
                                            </a>
                                        </li>
                                    <% } %>
                                    <% if (currentPage > 2) { %>
                                        <li class="page-item">
                                            <a class="page-link pagination-link" href="?page=1" data-page="1">1</a>
                                        </li>
                                        <li class="page-item disabled"><span class="page-link">...</span></li>
                                    <% } %>
                                    <% if (currentPage > 1) { %>
                                        <li class="page-item">
                                            <a class="page-link pagination-link" href="?page=<%= currentPage - 1 %>" data-page="<%= currentPage - 1 %>"><%= currentPage - 1 %></a>
                                        </li>
                                    <% } %>
                                    <li class="page-item active">
                                        <span class="page-link"><%= currentPage %></span>
                                    </li>
                                    <% if (hasNextPage) { %>
                                        <li class="page-item">
                                            <a class="page-link pagination-link" href="?page=<%= currentPage + 1 %>" data-page="<%= currentPage + 1 %>"><%= currentPage + 1 %></a>
                                        </li>
                                    <% } %>
                                    <% if (nextPage !== lastPage && currentPage !== lastPage) { %>
                                        <li class="page-item disabled"><span class="page-link">...</span></li>
                                        <li class="page-item">
                                            <a class="page-link pagination-link" href="?page=<%= lastPage %>" data-page="<%= lastPage %>"><%= lastPage %></a>
                                        </li>
                                    <% } %>
                                    <% if (currentPage !== lastPage) { %>
                                        <li class="page-item">
                                            <a class="page-link pagination-link" href="?page=<%= nextPage %>" data-page="<%= nextPage %>">
                                                <i class="material-icons md-chevron_right"></i>
                                            </a>
                                        </li>
                                    <% } %>
                                </ul>
                            </nav>
                        </div>
                        <!-- Pagination Section End -->
                    </div>
                </div>
            </div>
        </section>
    </main>

   
    <%- include('../partials/userfooter') %>